.claude/
.vscode/
__pycache__/

AIM/logs/
AIM/results/

TOPIC/logs/
TOPIC/models/

annotation/logs

DPSFT/results/
DPSFT/wandb/
DPSFT/logs/
DPSFT/scripts/unused/
DPSFT/pretrain/

evaluation/mauve/logs/
evaluation/mauve/embeddings

evaluation/feature_divergence/logs/
evaluation/classification/logs/

evaluation/acc/logs
evaluation/fid/logs
evaluation/self_bleu/logs

data/

wandb

.env
test.ipynb

*.sh